body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0e4c49; /* Soft dark green */
    color: #f3ce92; /* Soft gold */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: #f3ce92;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px 0;
}

footer {
    background-color: #0e4c49;
    color: white;
    text-align: center;
    padding: 10px;
}
